.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    page-break-inside: avoid; 
}
.styled-table thead tr {
    background: rgba(217, 217, 217, 0.3);
    color: #ffffff;
    text-align: left;
    width: 796px;
    height: 40px;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    color: #FFFFFF;
    background: rgba(217, 217, 217, 0.2);
    width: 796px;
    height: 195px;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
    border-radius: 8px 8px 0px 0px;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
}

.keep-together {
    page-break-inside: avoid;
}

.break-before {
    page-break-before: always;
}

.break-after {
    page-break-after: always;
    height: 100vh;
    margin-bottom: 0; 
    padding-bottom: 0;  
}
